# Database
DB_ROOT_PASSWORD=change_me_root_password
DB_NAME=change_me_db_name
DB_USER=change_me_db_user
DB_PASSWORD=change_me_db_password

# Application
PROJECT_NAME="change_me Project name"
ENVIRONMENT=change_me_domain-name

# Local development
VIRTUAL_HOST="${ENVIRONMENT:-myapp}.local"
APP_URL="http://${VIRTUAL_HOST:-myapp.local}"
